@model List<AspNetWebDemo.Models.Asiakas>
@{
    ViewData["Title"] = "Examples";
}
@section Scripts {
    <script>
        // jQuery
        $(function () {
            $("#btn_haeAsiakas").click(function () {
            alert("Boom!")});
        });
    </script>

    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }

        $(function () {
            $("#clock").load(startTime());
        });
    </script>
}

<h1>Examples</h1>
<input class="form-control w-25" type="text" />
<!-- The button color comes here from the Controller's ViewBag -->
<button id="btn_haeAsiakas" class="btn btn-@ViewBag.Napinväri mt-2">PUSH ME?</button>
<hr />
<ul>
    @for (int i = 0; i < 3; i++)
    {
        <li>Item @(i+1)</li>
    }
</ul>
<hr />
<table class="table table-striped w-50">
    <thead>
        <tr>
            <th>Asiakas-ID</th>
            <th>Nimi</th>
            <th>sPosti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AspNetWebDemo.Models.Asiakas asiakas in Model)
        {
        <tr>
            <td>@asiakas.AsiakasId</td>
            <td>@asiakas.AsiakasNimi</td>
            <td>@asiakas.SähköpostiOsoite</td>
        </tr>
        }
    </tbody>
</table>
<hr />
<p>Time: <span id="clock">LOADING CLOCK...</span></p>